@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}
.hero-bg{
    background-image: url("/images/Banner-Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 16px;
    background-color: rgba(7, 2, 17, 0.508);
    background-blend-mode: overlay;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    text-align: center;
}
.hero-content p{
    font-size: 32px;
    font-weight: 400;
}
.hero-content h1{
    font-size: 72px;
    font-weight: 900;
}
.discount-section{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: Inter;
    text-align: center;
}
.discount-section h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    margin-bottom: 20px;
}
.discount-section h2{
    color: rgb(255, 0, 0);  
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;   
}
.discount-section h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 50px;
}