@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}

/* --------------- Banner section --------------- */

.hero-bg {
  background-image: url("images/Banner-Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(7, 2, 17, 0.504);
  background-blend-mode: overlay;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  text-align: center;
}
.hero-content p {
  font-size: 32px;
  font-weight: 400;
}
.hero-content h1 {
  font-size: 72px;
  font-weight: 900;
}

/* discount-section */

.discount-section {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Inter;
  text-align: center;
}
.discount-section h1 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  margin-bottom: 20px;
}
.discount-section h2 {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.discount-section h3 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  margin-bottom: 50px;
}

/*--------------- party section ---------------*/

.party-section {
  width: 1320px;
  height: 600px;
  border-radius: 15px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background-image: url("images/party.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(7, 2, 17, 0.27);
  background-blend-mode: overlay;
  margin-bottom: 80px;
  display: flex;
}
.party-section h1 {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
}
.party-section h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.party-section p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.party-left-side {
  width: 60%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-left: 100px;
}
.party-right-side {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.party-right-side img {
  width: 55%;
  height: 65%;
  margin-left: 60px;
  opacity: 0.9;
}

/* --------------- announcement section --------------- */

.announcement {
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.announcement-content {
  width: 549px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.announcement-content h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
}
.announcement-content h3 span {
  color: rgb(255, 0, 0);
}
.announcement-content button {
  position: relative;
  width: 167px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

/* --------------- comming-soon --------------- */

.comming-soon {
  width: 1320px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comming-soon-left {
  width: 33%;
}
.comming-soon-left h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}
.comming-soon-left h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
  margin: 10px 0 20px 0;
}
.comming-soon-left p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}
.comming-soon-center {
  width: 34%;
  display: flex;
  justify-content: right;
}
.comming-soon-center img {
  width: 364.84px;
  height: 364.84px;
  border: 10px solid red;
  border-radius: 100%;
  padding: 20px;
}
.comming-soon-right {
  width: 33%;
  padding-left: 100px;
}
.comming-soon-right h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.comming-soon-right h4 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}
.comming-soon-right img {
  width: 140px;
  height: 132.79px;
}

/* --------------- holidays sale section --------------- */

#holidays-sale {
  width: 1320px;
  height: 986.07px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.holidays-title {
  width: 1068px;
  height: 260px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.holidays-title h5 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.holidays-title h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
}
.holidays-title h1 span {
  color: rgb(255, 0, 0);
}
.holidays-title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.holidays-images {
  width: 1320px;
  height: 662.07px;
  position: relative;
}
.holiday-image1 img {
  width: 674.82px;
  height: 577.96px;
  position: absolute;
  z-index: 1;
}
.holiday-image2 {
  width: 429px;
  height: 433px;
  position: absolute;
  right: 0;
}
.holiday-image3 {
  position: absolute;
  z-index: 2;
  right: 320px;
  top: 22px;
}
.holiday-image4 img {
  width: 1320px;
  height: 200px;
  bottom: 30px;
  position: absolute;
}

/* --------------- Our gifts --------------- */

#our-gifts {
  width: 1320px;
  height: 1160px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.gifts-title {
  margin-bottom: 50px;
}
.gifts-title h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.gifts-title h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.gifts-title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 896px;
}
.gifts-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gifts-card img {
  width: 424px;
  height: 450px;
  border: 3px dashed lightgray;
}

/* --------------- subscribe-newsletter --------------- */

#subscribe-newsletter {
  width: 1320px;
  height: 616px;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-news{
  width: 896px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.subscribe-news img{
  width: 150px;
  height: 150px;
  border: 1px dashed gray;
}
.subscribe-news h1{
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.subscribe-news p{
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.subscribe-input input{
  padding: 20px;
  font-size: 20px;
  border: none;
  background-color: white;
  border-radius: 100px 0 0 100px;
}
.subscribe-input button{
  padding: 20px;
  font-size: 20px;
  border: none;
  margin-left: -5px;
  background-color: rgb(255, 0, 0);
  border-radius: 0 100px 100px 0;
  color: white;
}



/* --------------- footer section --------------- */

footer{
  height: 400px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
.footer-content{
  width: 1320px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-left{
  display: flex;
  justify-content: space-between;
}
.footer-left p{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.social-icon{
  margin: 0 auto;
}
.footer-bottom p{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
}